In [1]:
import pandas as pd
import os
import json
import itertools

In [23]:
features = {}
features_all = {}

for exp in range(1, len(os.listdir("./Experiments"))+1):

    with open(f"./Experiments/{exp}/metadata.json", 'r') as f:
        metadata = json.load(f)

    feature_issue = metadata['feature_chg_idx']
    feature_issue_count_all = []
    feature_issue_count = []

    all_dec_path = f"./Experiments/{exp}/all_decisions"
    target_nds_path = f"./Experiments/{exp}/target_node_decisions"
    num_files = len(os.listdir(all_dec_path))-1

    for i in range(1, num_files+1):

        data_all = pd.read_csv(f"{all_dec_path}/change_{i}_features.csv", index_col=[0,1])
        data = pd.read_csv(f"{target_nds_path}/change_{i}_features.csv", index_col=[0,1])

        if feature_issue in data_all['Feature name'].values[:3]:
            feature_issue_count_all.append(1)

        else:
            feature_issue_count_all.append(0)
        
        if feature_issue in data['Feature name'].values[:3]:
            feature_issue_count.append(1)

        else:
            feature_issue_count.append(0)
    try:
        features_all[feature_issue] = [sum(x) for x in 
            itertools.zip_longest(*[features_all[feature_issue], feature_issue_count_all], fillvalue=0)]

    except KeyError:
        features_all[feature_issue] = feature_issue_count_all
    
    try:
        features[feature_issue] = [sum(x) for x in 
            itertools.zip_longest(*[features[feature_issue], feature_issue_count], fillvalue=0)]

    except KeyError:
        features[feature_issue] = feature_issue_count

In [26]:
df = pd.DataFrame.from_dict(features, orient='index').fillna(0).astype('int64')
df.columns = df.columns+1
df

                1   2   3   4   5  6
waterfront      0   0   0   0   0  0
sqft_lot       64  61  65  44   5  0
yr_built       51  49  54  15  15  0
view           18  19  22   3   0  0
condition      10   7   9   5   0  0
bedrooms        3   4   4   1   0  0
sqft_basement   0   0   0   0   0  0
bathrooms      19  20  18   4   0  0
sqft_above     15  15  18  13   0  1
yr_renovated    2   2   2   1   0  2
sqft_living    14  15  15   8   1  0
statezip        6   8   7   0   1  0
floors          0   0   0   0   0  0

In [27]:
df_all = pd.DataFrame.from_dict(features_all, orient='index').fillna(0).astype('int64')
df_all.columns = df_all.columns+1
df_all

                1   2   3   4   5  6
waterfront      0   0   0   0   0  0
sqft_lot       64  66  66  44   5  0
yr_built       51  47  53  27  16  1
view           19  22  22   3   0  0
condition      10  11   9   8   0  0
bedrooms        3   4   4   1   0  0
sqft_basement   0   0   0   0   0  0
bathrooms      19  19  19   4   1  0
sqft_above     15  15  16  13   0  1
yr_renovated    2   5   3   1   0  2
sqft_living    15  15  15   8   1  0
statezip        6   8   8   2   1  0
floors          0   0   0   0   0  0